{% extends "base.html" %}
{% load edit_obj_templ_tags %}
{% block title %}About author{% endblock %}
{% block content %}
<table>
<!-- Transforme to a loop! -->
<tr>
    <td>First name:</td>
    <td>{{ data.first_name }}</td>
</tr>
<tr>
    <td>Last name:</td>
    <td>{{ data.last_name }}</td>
</tr>
<tr>
    <td>Date of birth:</td>
    <td>{{ data.birth_day }}</td>
</tr>
<tr>
    <td>Bio:</td>
    <td>{{ data.bio }}</td>
</tr>
<tr>
    <td>Contacts:</td>
    <td>{{ data.contacts }} </td>
</tr>
<!--<tr>
    <td>{% edit_list "user" %} Edit curent user {% endedit_list %} </td>
    <td> </td>
</tr>-->

</table>
   <form action="/editor/" method="">
        <input type="submit" value="Edit">
    </form>
{% endblock %}